#!/bin/bash

# Copyright 2025 Google LLC

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     https://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

PROJECT_ID=my-project
SERVICE_NAME=ces-genesys-adapter
SERVICE_ACCOUNT=ces-genesys-adapter@${PROJECT_ID}.iam.gserviceaccount.com
CPU="1"
MEMORY="1Gi"
TIMEOUT=60m
MIN_INSTANCES="1"
MAX_INSTANCES="10"
CONCURRENCY=5
REGIONS=("us-central1")

# Genesys API Key Secret Path/Name
# Option 1: Secret Name (for Cloud Run Injection - Recommended)
# export GENESYS_API_KEY_SECRET_PATH="your-genesys-api-key-secret-name"
# Option 2: Full Resource Path (for Runtime Fetching)
# export GENESYS_API_KEY_SECRET_PATH="projects/<PROJECT_ID>/secrets/<SECRET_ID>/versions/latest"
export GENESYS_API_KEY_SECRET_PATH="your-genesys-api-key-secret-name"

# Genesys Client Secret Path/Name
# Option 1: Secret Name (for Cloud Run Injection - Recommended)
# export GENESYS_CLIENT_SECRET_PATH="your-genesys-client-secret-name"
# Option 2: Full Resource Path (for Runtime Fetching)
# export GENESYS_CLIENT_SECRET_PATH="projects/<PROJECT_ID>/secrets/<SECRET_ID>/versions/latest"
export GENESYS_CLIENT_SECRET_PATH="your-genesys-client-secret-name"

# AUTH_TOKEN_SECRET_PATH="projects/123456789012/secrets/my-secret-token-path"

# PHONE NUMBER MAPPING CONFIGURATION (see "Phone Number to Agent Mapping" section in README.md)
# Choose ONE of the following methods.
# 1. Firestore (recommended for production)
# NUMBERS_COLLECTION_ID="ces-twilio-adapter-mappings"
# 2. Local JSON file (for development/testing)
NUMBERS_CONFIG_FILE="number_mappings.json"
LOG_UNREDACTED_DATA="false"
DEBUG_WEBSOCKETS="false"
DISCONNECT_EVENT_NAME=" wrapup"